header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-form input {
    max-width: 300px;
}

.paragraph-light {
    font-weight: 500;
    margin: auto;
    text-align: center;
}

.paragraph-link {
    color: #fff;
}

.title1-light {
    margin-bottom: 2rem;
}

.btn {
    width: 200px;
}

.input-group {
    position: relative;
}

.input-group {
    position: relative;
}

.input-group input {
    max-width: 250px;
}

.input-group-addon {
    border: none;
}

#copyButton {
    cursor: pointer;
    background: #cecece;
    width: 50px;
}

#copyButton:hover {
    background-color: #d32f2f;
    color: #fff;
}

#copyButton:focus,
#copyButton:active {
    outline: none !important;
    background-color: #d32f2f;
    box-shadow: none !important;
}

#copyButton i {
    transform: translateY(3px) scale(1.15);
}

#password {
    border-left: none;
}